footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 162px;
    width: 100%;
    position: relative;
    top: 100px;

}

.Footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Footer > p:first-of-type::after{
    content: "|";
    padding: 0 11px;
    color: #81807E;
}

footer > p{
    color: #81807E;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.Footer > p {
    color: #81807E;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}




