*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

    color: white;
    margin: 0;
    flex-shrink: 1;
}
html body{
    margin-top: 124.5px;
    Background-color: #0F0F0F;
    position: relative;
}

main{
    width: 85.77%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

/*--------------------------Tablet--------------------------*/
@media screen and (max-width: 992px){
    *{
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        Background-color: #0F0F0F;
        color: white;
        margin: 0;
        border: 0;
        flex-shrink: 1;
    }
    html body{
        padding-top: 0;
    }

}

@media screen and (max-width: 768px){
    *{
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        Background-color: #0F0F0F;
        color: white;
        margin: 0;
        border: 0;
        flex-shrink: 1;

    }
}
