* {
    margin: 0; padding: 0; box-sizing: border-box;
}

body {
    background-color: #0F0F0F;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

.container {
    max-width: 1596px;
    margin: 0 auto;
    width: 95%;
}