@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.container {
    display: flex;
    align-items: center;
    width: 100%;

}
/*
    * NOTE:
    * Khi thay đổi width / height của button,
    * bắt buộc phải cập nhật viewBox của SVG
    * theo đúng kích thước mới để viền không bị lệch.
    *
    * Ví dụ:
    * - Button: width: 142px; height: 63px;
    *   → SVG: viewBox="0 0 142 63"
    *
    * - Nếu tăng width lên 159px (height giữ nguyên):
    *   → SVG: viewBox="0 0 159 63"
    *
    * Quy tắc:
    * - viewBox.width  = button.width
    * - viewBox.height = button.height
*/
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    height: 100%;
    padding: 18px 24px;
    font-size: 16px;
    color: #fff;
    background: #1f1f1f;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 159 63' shape-rendering='geometricPrecision'%3E%3Crect x='0.5' y='0.5' width='158' height='62' rx='12' ry='12' fill='none' stroke='%23404040' stroke-width='1' stroke-dasharray='16%2c6' stroke-linecap='butt'/%3E%3Cpath d='M18 0.5 H12 A11.5 11.5 0 0 0 0.5 12 V18' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3Cpath d='M141 0.5 H147 A11.5 11.5 0 0 1 158.5 12 V18' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3Cpath d='M158.5 45 V51 A11.5 11.5 0 0 1 147 62.5 H141' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3Cpath d='M18 62.5 H12 A11.5 11.5 0 0 1 0.5 51 V45' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.button-2 {
    width: 142px;
    height: 63px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 142 63' shape-rendering='geometricPrecision'%3E%3Crect x='0.5' y='0.5' width='141' height='62' rx='12' ry='12' fill='none' stroke='%23404040' stroke-width='1' stroke-dasharray='16%2c6' stroke-linecap='butt'/%3E%3Cpath d='M18 0.5 H12 A11.5 11.5 0 0 0 0.5 12 V18' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3Cpath d='M124 0.5 H130 A11.5 11.5 0 0 1 141.5 12 V18' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3Cpath d='M141.5 45 V51 A11.5 11.5 0 0 1 130 62.5 H124' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3Cpath d='M18 62.5 H12 A11.5 11.5 0 0 1 0.5 51 V45' fill='none' stroke='%23AE9B84' stroke-width='1.5' stroke-linecap='butt' stroke-linejoin='round'/%3E%3C/svg%3E");
}

@media screen and (max-width: 992px) {
    .button {
        width: 100%;
    }
}