.Container-Dress-Collection{
    display: flex;
    flex-direction: column;

}

.Dress-Collection-Title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='99%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='99.8%25' height='99%25' fill='none' rx='0' ry='12' stroke='%23262626' stroke-width='2' stroke-dasharray='16%2c6' stroke-linecap='square'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: inset(0 3px 0 3px);
}

.Dress-Collection-Title h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: left;
}

.Border-Right{
    background-image: linear-gradient(to bottom, #262626 16px, transparent 16px);
    background-position: right;
    background-size: 2px 22px;
    background-repeat: repeat-y;
    border-radius: 0;
    border: none;
}

.border{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='99.8%25' height='100%25' fill='none' rx='14' ry='14' stroke='%23262626' stroke-width='2' stroke-dasharray='16%2c6' stroke-dashoffset='83' stroke-linecap='square'/%3e%3c/svg%3e");
    width: 100%;
    margin: 0 auto;
}

.Dress-Collection-List{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 33.33%;

}

.Container-Title-Dress-Collection{
    width: 100%;
}
.Dress-Collection-Container-List{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Dress-Collection-List-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}

.Dress-Collection-List-items > img{
    width: 100%;
    display: block;

}

.Dress-Collection-Type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

}

.Dress-Collection-Type > p{
    border-radius: 100px;
    gap: 10px;
    padding: 10px 16px;
    background-color: #1A1A1A;
    color: #B3B3B2;
}

.Dress-Collection-Type-Title{
    margin-top: 20px;
    gap:14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    position: relative;
}

.Dress-Collection-Type-Title > p{
    font-weight: 700;
    line-height: 150%;
    font-family: "Roboto Mono", monospace;
    font-size: 24px;
}

.Container-Fit-Price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    /*width: 80.08%;*/
    flex-wrap: wrap;
}

.Fit{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;

}

.Fit span{
    flex-shrink: 1;
}

.Fit span:first-of-type{
    color: #81807E;
    font-family: "Roboto Mono" , monospace;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
}

.Fit span:nth-of-type(2){
    color: #4D4D4D;
    font-size: 30px;
    font-family: "Roboto Mono" , monospace;
    font-weight: 700;
}

.Fit span:nth-of-type(3){
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #CCCCCC;
}

.Price{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.Price span:first-of-type{
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #81807E;
}

.Price span:nth-of-type(2){
    color: #4D4D4D;
    font-size: 30px;
    font-family: "Roboto Mono" , monospace;
    font-weight: 700;
}

.Price span:nth-of-type(3){
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 20px;
    color: #CCCCCC;
}

.Dress-Collection-Type > a{
    display: flex;
    flex-shrink: 1;
}
.Dress-Collection-Mobile-Container{
    display: none;
}


@media screen and (max-width: 992px){
    .Dress-Collection-List{
        width: 33.33%;
        padding: 20px 20px 30px 20px;
    }

    .Dress-Collection-Title h2{
        font-size: 26px;
    }

    .Price span:first-of-type{
        font-size: 14px;
    }
    .Price span:nth-of-type(2){
        font-size: 20px;
        position: relative;
        top: 0;
    }



    .Price span:nth-of-type(3){
        font-size: 16px;
    }
    .Dress-Collection-Title{
        padding: 24px;
    }
    .Dress-Collection-Mobile-Container{
        display: none;
    }

    .Fit > span:nth-of-type(1){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
    }

    .Fit > span:nth-of-type(2){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 25px;
        position: relative;
        top: 0;
    }

    .Fit > span:nth-of-type(3){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }

    .Dress-Collection-Type{
        justify-content: flex-start;
        gap: 10px;
    }

    .Dress-Collection-Type > p{
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        padding: 8px 12px;
    }

    .Dress-Collection-Type-Title > p{
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
    }

    .Dress-Collection-Type-Title{
        position: relative;
    }

    .Border-Top{
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='0' ry='0' stroke='%23262626' stroke-width='2' stroke-dasharray='16%2c6' stroke-dashoffset='83' stroke-linecap='square'/%3e%3c/svg%3e");
        clip-path: inset(0 3px 3px 3px);
    }
}

@media screen and (max-width: 768px){
    .Container-Dress-Collection{
        display: none;
    }

    .Dress-Collection-List{
        width: 100%;
    }
    .Dress-Collection-Mobile-Container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        border-radius: 14px;
    }
    .Dress-Collection-Mobile{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .Dress-Collection-Mobile-Title{
        width: 100%;
        gap: 20px;
        padding: 24px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='0' ry='0' stroke='%23262626' stroke-width='2' stroke-dasharray='16%2c6' stroke-dashoffset='83' stroke-linecap='square'/%3e%3c/svg%3e");

    }

    .Dress-Collection-Mobile-Title > h2{
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-transform: uppercase;
    }

    .Dress-Collection-Mobile-List{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 20px 30px 20px;
        /*background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='99.7%25' height='100%25' fill='none' rx='0' ry='12' stroke='%23262626' stroke-width='2' stroke-dasharray='16%2c6' stroke-linecap='square'/%3e%3c/svg%3e");*/
        background-size: 100% 100%;
        background-repeat: no-repeat;
        clip-path: inset(3px 0 0 0);
    }

    .Dress-Collection-Mobile-img > img {
        width: 100%;
    }

     .Dress-Collection-Mobile-Sub{
        display: flex;
         justify-content: space-between;
         align-items: flex-start;
         flex-direction: column;
         gap: 10px;
    }

    .Dress-Collection-Mobile-Sub > span:first-of-type{
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        border-radius: 100px;
        padding: 8px 12px;
        background-color: #1A1A1A;
    }
    .Dress-Collection-Mobile-Sub > p{
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 18px;
        /*line-height: 150%;*/
    }
    .Container-Fit-Price-Mobile{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

    .Fit-mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .Price-mobile{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .Fit-mobile span:nth-of-type(1){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #81807E;
    }
    .Fit-mobile span:nth-of-type(2){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 25px;
        color: #4D4D4D;
    }

    .Fit-mobile > span:nth-of-type(3){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #CCCCCC;
    }

    .Price-mobile span:nth-of-type(1){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #81807E;
    }
    .Price-mobile span:nth-of-type(2){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 25px;
        color: #4D4D4D;
    }
    .Price-mobile > span:nth-of-type(3){
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: #CCCCCC;
    }

    .Container-Fit-Price-Mobile-Bottom{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
        border-top-width: 1px;
        padding: 30px 20px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='99.8%25' height='100%25' fill='none' rx='0' ry='12' stroke='%23262626' stroke-width='2' stroke-dasharray='16%2c6' stroke-linecap='square'/%3e%3c/svg%3e");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        clip-path: inset( 0 0 3px 0);
        /*margin-bottom: 50px;*/

    }
    .Container-Fit-Price-Mobile-Bottom > span{
        font-family: "Roboto Mono" , monospace;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #B3B3B2;

    }
}
